<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Index</title>


</head>

<body>
<h1> TextUtils </h1>

<form action='/analyze' method='get'>
    <textarea name="text" style='margin: 0px; width: 721px; height: 93px;'> </textarea><br>

    <input type="checkbox" name="removepunc"> Remove Punctuations <br>
    <input type="checkbox" name="fullcaps"> UPPERCASE <br>
    <input type="checkbox" name="newlineremover"> New Line Remover <br>
    <input type="checkbox" name="extraspaceremover"> Extra Space Remover <br>
    <input type="checkbox" name="charcounter"> Character Counter <br>


    <button type='submit'> Analyze Text </button>

</form>

  
</body>
</html>